body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

h1 {
  text-align: center;
}

#project-list {
  /*display: none;*/
}

.showCont {
  display: block;
}

.hideCont {
  display: none;
}

#inner-label {
  font-size: 12px;
}
